<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <div id="home" class="container no-print">
        <div id="banner">
            <img src="/pic/hermanLogo.png" alt="Mountain View">
        </div>
        <h1>Leírás</h1>
        <p>Ezen alkalmazás célja, hogy a Herman Ottó Kollégiumban végzett hallgatói felméréshez a kiosztott adatlapokat elkészítsük.</p>
        <h4>Készítette:</h4>
        <p>Fodor József Felicián</p>
        <p>SZTE Herman Ottó Kollégium Adminisztrációért felelős senior</p>
    </div>
</body>

</html>