<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <div class="container  pull-down no-print">
        <div id="banner">
            <img src="/pic/hermanLogo.png" alt="Mountain View">
        </div>
        <h1>Leírás</h1>
        <p>Ezen alkalmazás célja, hogy a Herman Ottó Kollégiumban végzett hallgatói felméréshez a kiosztott adatlapokat elkészítsük.</p>
        <h1>Fázisok</h1>
        <h4>I. Szerkesztés:</h4>
        <p>A kérdéseket ezen a felületen lehet átnézni, bővíteni, szerkeszteni.
            <br>Ha mindennel megvagyunk, akkor pdf formátumban letölthetjük, vagy egyből küldhetjük nyomtatásra az elkészült
            kérdőívet.
        </p>
        <h4>II. Nyomtatás/kiosztás:</h4>
        <p>A kinyomtatott felméréseket ki kell osztani a kollégium lakói között.
            <br>Átvételt aláírásukkal igazolják.</p>
        <h4>III. Beszedés:</h4>
        <p>A kitöltött felméréseket egy a portán elhelyezett urnában gyűjtjük össze.
            <br>Leadást aláírásukkal igazolják.</p>
        <h4>IV. Beolvasás:</h4>
        <p>Minden beérkezett lapot scan-nelünk és mentjük az irodában.</p>
        <h4>V. Feldolgozás:</h4>
        <p>Matlabban írt feldolgozó szoftver táblázatba menti az adatlapok tartalmát.
            <br> Ez a szoftver csak a jelölőnégyzetekbe rajzolt "X"-eket figyeli az esetleges szabadszöveges kérdéseket nem.</p>
        <h4>VI. Kiértékelés:</h4>
        <p>A kapott csv dokumentum alapján táblázatokat, diagrammokat készítünk a felmérés eredményének látványosabb prezentációja
            érdekében.
            <br> Ezt publikáljuk kör-emailben, és facebook csoportunkban is.</p>
        <hr class="hr-1" />
        <h4>Készítette:</h4>
        <p>Fodor József Felicián</p>
        <p>SZTE Herman Ottó Kollégium Adminisztrációért felelős senior</p>
    </div>
</body>

</html>