@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

body {
	background: url('/pic/paper-2.jpg') no-repeat center fixed;
	background-size: cover;
}

div {
	background-color: rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus, textarea {
	background-color: yellow;
	border-color: white;
}

.hr-3 {
	color: black;
	background: black;
	height: 3px;
}

.hr-1 {
	background: black;
	height: 1px;
}

h3 {
	text-decoration: underline;
	margin-top: 0.0em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.answerDiv {
	border: 2px solid black;
	height: 100%;
	width: 100%;
}

.answer  {
	height: 30px;
	width: 30px;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

#home {
	margin-top: 100px;
	margin-bottom: 100px;
}

.pull-down {
	margin-top: 100px;
	margin-bottom: 50px;
}

#printButton {
	margin-bottom: 100px;
}

#banner {
	text-align: center;
}