#mySidenav{
	height: 100%;
    overflow-x: hidden;
}

#mySidenav a {
    position: fixed;
    left: -120px;
    transition: 0.3s;
    padding: 15px;
    width:  170px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 1;
}

#mySidenav a:hover {
    left: 0;
}

#navIcon_home {
    top: 120px;
    background-color: #4CAF50;
}

#navIcon_questionnaire {
    top: 180px;
    background-color: #f44336;
}

#navIcon_print {
    top: 240px;
    background-color: #2196F3;
}

#navIcon_contact {
    top: 300px;
    background-color: #555;
}

.navicon {
    float: right;
}