#mySidenav a {
    position: absolute;
    left: -120px;
    transition: 0.3s;
    padding: 15px;
    width:  170px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#home {
    top: 120px;
    background-color: #4CAF50;
}

#question {
    top: 180px;
    background-color: #f44336;
}

#print {
    top: 240px;
    background-color: #2196F3;
}

#contact {
    top: 300px;
    background-color: #555
}

.navicon {
	float: right;
}