<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/home.css" />
<script src="https://unpkg.com/vue"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
	integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
	crossorigin="anonymous">
	
</script>
</head>
<body>
	<div id="mySidenav" class="sidenav no-print">
		<a href="#" id="home">Kezdőlap <i class="fas fa-home navicon"></i>
		</a> <a href="#" id="question">Kérdőív <i class="fas fa-file navicon"></i>
		</a> <a href="javascript:window.print()" id="print">Nyomtatás <i
			class="fas fa-print navicon"></i>
		</a> <a
			href="mailto:fodor.jofel@gmail.com?Subject=HermanHallgatoiFelmeres"
			id="contact">Kapcsolat <i class="fas fa-envelope navicon"></i>
		</a>
	</div>

	<div class="container">
		<h1>Hallgatói elégedettség felmérés - 2018</h1>
		<h4>SZTE Herman Ottó Kollégium</h4>
		<hr class="hr-3" />
	</div>

	<div class="container">
		<h3>I. Felmérés célja</h3>
		<p>
			Kedves Kollégisták! <br> <br> Reméljük ezen kérdőív
			segítségével szélesebb és világosabb képet kaphatunk a hallgatói
			igényekről és fény derül a fejlesztendő területekre! <br>Kérjük,
			hogy valós véleményeiteket tükrözze ez a felmérés, hogy a válaszok
			kiértékelhetőek legyenek.<br> Köszönjük együttműködéseteket!
		</p>
		<hr class="hr-1" />
	</div>

	<div id="vue-app" class="container">
		<h3>II. Felmérés</h3>
		<p>
			Jelöld be, hogy mennyire tartod igaznak az állításokat.<br>
			<ol>
				<li> - Általában nem igaz</li>
				<li> - Inkább nem igaz</li>
				<li> - Néha igaz, néha nem</li>
				<li> - Inkább igaz</li>
				<li> - Általában igaz</li>
			</ol>
		</p>

		<table>
			<tr>
				<th>Kérdés</th>
				<th class="answer">1</th>
				<th class="answer">2</th>
				<th class="answer">3</th>
				<th class="answer">4</th>
				<th class="answer">5</th>
			</tr>
			<tr v-for="q in questions">
				<td>{{ q.question }}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<hr class="hr-1" />
	</div>

	<div class="container">
		<h3>III. Köszönetnyilvánítás</h3>
		<p>
			Köszönjük válaszaitokat! <br> A felmérés feldolgozásához
			kiértékeléséhez szíves türelmetek kérjük. <br> Az eredményeket
			megosztjuk veletek e-mailben, a honlapon, és a facebook csoportban
			is.
		</p>
	</div>

	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>

</body>
</html>
