<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Boot Thymeleaf Hello World Example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/nav.css" />
	<link rel="stylesheet" href="/css/home.css" />
	<script src="https://unpkg.com/vue"></script>
	<script 
		defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" 
		integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" 
		crossorigin="anonymous">
	</script>
</head>
<body>

	<div id="mySidenav" class="sidenav">
	  <a href="#" id="home">Kezdőlap <i class="fas fa-home navicon"></i></a>
	  <a href="#" id="question">Kérdőív <i class="fas fa-file navicon"></i></a>
	  <a href="#" id="print">Nyomtatás <i class="fas fa-print navicon"></i></a>
	  <a href="#" id="contact">Kapcsolat <i class="fas fa-envelope navicon"></i></a>
	</div>

	<div id="vue-app" class="container">

		<div class="starter-template">
		<h1> {{ great('reggelt') }} </h1>
			<h1>Spring Boot Web Thymeleaf Example {{name}}</h1>
			<h2>
				<span th:text="'Application: ' + ${appName}"></span>
			</h2>
			
			<h1> Topics list</h1>
			<ul>
				<li v-for="t in topics"> {{ t }} </li>
			</ul>
			
			<h1> Questions list</h1>
			<ul>
				<li v-for="t in questions"> {{ t.title }} | {{ t.question}} </li>
			</ul>
			
			<input type="text"/>
		</div>

	</div>
	
	

<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
