<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Kérdések</title>
	<link rel="stylesheet" href="/css/home.css" />
</head>

<body>
	<th:block th:include="layout/navbar"></th:block>
	<div class="container  pull-down">
		<h1>Kérdések</h1>
		<div th:if="${not #lists.isEmpty(questions)}">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Azonosító</th>
						<th>Kérdés</th>
						<th>Másolás</th>
						<th>Törlés</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="question : ${questions}">
						<td th:text="${question.id}">1</td>
						<td th:text="${question.question}">Test</td>
						<td>
							<a th:href="${'/questions/edit/' + question.id}" class="btn btn-default">Másolás</a>
						</td>
						<td>
							<a th:href="${'/questions/delete/' + question.id}" class="btn btn-danger" onclick="return confirm('Biztos törlöd a kiválasztott elemet?')">Törlés</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>